<!-- Fixed navbar -->
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://reezhdesign.com">ReeZh Design</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <%= image_tag 'vibes-resort-logo.png', style:"width:15%; padding-top:3em;"%>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse bg-white"  id="navbarCollapse">
          <div class="navbar-nav ml-auto pt-4">
            <ul >
              <li style=" display: inline-block;
              vertical-align: middle" >
              <%= link_to "Le village", root_path(anchor:"village") , class:"px-2 nav-item nav-link "%></li>
              <li style=" display: inline-block;
              vertical-align: middle" ><%= link_to "L'architecture", root_path(anchor:"architecture"), class:"px-2 nav-item nav-link " %></li>
              <li style=" display: inline-block;
              vertical-align: middle" ><%= link_to "Le rooftop", root_path(anchor:"rooftop") , class:"p-2 nav-item nav-link "%></li>
              <li style=" display: inline-block;
              vertical-align: middle" ><%= link_to "Les appartements", root_path(anchor:"appartements") , class:"px-2 nav-item nav-link "%></li>
              <li style=" display: inline-block;
              vertical-align: middle" ><%= link_to "Devenir propriétaire", root_path(anchor:"proprietaire"), class:"px-2 nav-item nav-link " %></li>
              <li style=" display: inline-block;
              vertical-align: middle" ><%= link_to "Nous contacter", root_path(anchor:"contact"), class:"px-2 btn-get-started " %></li>
              <li style=" display: inline-block;
              vertical-align: middle" ><%= link_to "Télécharger la plaquette", new_plaquette_path, class:"px-2 btn-invers " %></li>
            </ul>
          </div>

      </div>
  </nav>


<script>

  jQuery( document ).ready( function($) {
  $( window ).scroll( function () {
    if ( $(document).scrollTop() > 150 ) {
      // Navigation Bar
      $('.navbar').removeClass('fadeIn');
      $('body').addClass('shrink');
      $('.navbar').addClass('animated fadeInDown');
    } else {
      $('.navbar').removeClass('fadeInDown');
      $('body').removeClass('shrink');
      $('.navbar').addClass('animated fadeIn');
    }
  });
});

</script>
