
<!DOCTYPE html>
<html>
<head>

  <title>Vibes Resort | Résidence de tourisme de luxe au Cap d'Agde</title>


  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

  <meta name="description" content="Vibes Resort, résidence de luxe à vocation touristique située dans le village naturiste du Cap d'Agde. Programme neuf, de la chambre T1 à la suite T4." />

  <script src="https://kit.fontawesome.com/2f609438b2.js" crossorigin="anonymous"></script>

  <!--     Fonts and icons     -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <!-- GA -->
  <% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172128621-1"></script>

    <script>

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-172128621-1');

    </script>

    <!-- Activity name for this tag: Traceur Groupe Immo Angeloti -->

    <script>

      (function() {

        var a = String(Math.floor(Math.random() * 10000000000000000));

        new Image().src = 'https://pubads.g.doubleclick.net/activity;xsp=4830864;ord='+ a +'?';

      })();

    </script>

    <noscript>

      <img src='https://pubads.g.doubleclick.net/activity;xsp=4830864;ord=1?' width=1 height=1 border=0>

    </noscript>

  <%end%>




</head>

<body>


  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="<%=root_path%>" rel="tooltip" title="Vibes Resort - Résidence neuve Cap d'Agde" data-placement="bottom">
          <img src="<%= asset_path 'vibes-resort-logo-or.png' %>" style="height:5em;width:auto;" alt="logo vibes resort cap d'agde"/>
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="<%= root_path(anchor:'architecture')%>" class="nav-link"> L'architecture</a>
          </li>
          <li class="nav-item">
            <a href="<%= root_path(anchor:'appartement')%>" class="nav-link"> Les appartements</a>
            </li>
            <li class="nav-item">
              <a href="<%= root_path(anchor:'rooftop')%>" class="nav-link"> Le rooftop</a>
            </li>
            <li class="nav-item">
              <a href="<%= root_path(anchor:'proprietaire')%>" class="nav-link"> Devenir propriétaire</a>
            </li>
          <li class="nav-item">
            <a href="<%=root_path(anchor:'contact')%>" class="btn btn-primary">Contactez-nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->


  <%= yield %>



  <!-- ======= Footer ======= -->

  <footer id="footer" class="" style="background-image:url('<%=asset_path "wave.png"%>'); background-position:bottom;">


    <div class="row mx-4 d-flex justify-content-around py-4">


      <div class="col-md-2 mt-4 pt-4 ">

        <img src="<%= asset_path 'vibes-resort-logo-or.png' %>"style="height:5em;width:auto;"/>

        <p class="mt-4 mb-3" style="font-size:13px;">Une opération commercialisée par <br><a style="font-size:13px;" href="https://www.angelotti.fr/" class="a-nav2">Le Groupe Immobilier ANGELOTTI</a></p>

        <p class="mt-4 mb-3" style="font-size:13px;">Suivez-nous sur :</p>
        <a class="a-nav" href="https://fr-fr.facebook.com/groupe.angelotti" target="_blank"><i class="fab fa-facebook fa-2x mr-4"></i></a><a class="a-nav" href="https://fr.linkedin.com/company/angelotti-promotion" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a>


      </div>

      <div class="col-md-3 pr-4">

        <h4 class="my-4 py-4 primary">Liens</h4>

        <a class="a-nav" href="<%= root_path(anchor:'architecture')%>"><p class="pt-3">L'architecture</p></a><hr style="opacity:20%;">
        <a class="a-nav" href="<%= root_path(anchor:'appartement')%>"><p>Les appartements</p></a><hr style="opacity:20%;">
        <a class="a-nav" href="<%= root_path(anchor:'rooftop')%>"><p>Le Rooftop</p></a><hr style="opacity:20%;">
        <a class="a-nav" href="<%= root_path(anchor:'proprietaire')%>"><p>Devenir propriétaire</p></a>

      </div>

      <div class="col-md-3 px-4 d-none d-md-block">

        <h4 class="my-4 py-4 primary">Galerie</h4>

        <div class="row">

          <%=image_tag("vibes-resort1.webp", class:"col-4 d-none d-md-block img-nav", alt:"residence neuve Vibes Resort Cap d'Agde")%>
          <%=image_tag("vibes-resort-cap-agde2.webp", class:"col-4 d-none d-md-block img-nav", alt:"programme neuf Vibes Resort Cap d'Agde")%>
          <%=image_tag("vibes-resort2.jpg", class:"col-4 d-none d-md-block img-nav", alt:"residence touristique neuve Vibes Resort Cap d'Agde")%>
          <%=image_tag("vibes-resort-terrasse-2.webp", class:"mt-4 col-4 d-none d-md-block img-nav", alt:"rooftop residence neuve Vibes Resort Cap d'Agde")%>
          <%=image_tag("vibes-resort4.webp", class:"mt-4 col-4 d-none d-md-block img-nav", alt:"appartement neuf T1 au T4 Cap d'Agde")%>
          <%=image_tag("cap-agde.png", class:"mt-4 col-4 d-none d-md-block img-nav", alt:"village naturiste Cap d'Agde")%>

        </div>

      </div>

      <div class="col-md-3 pl-4">

        <h4 class="my-4 py-4 primary">Contactez-nous</h4>

        <p class="pt-3 primary"><i class="fas fa-phone"></i> 04 67 57 11 26</p>
        <p class="pt-4 pb-3">Cette résidence de tourisme de luxe à vocation touristique est idéale pour valoriser votre patrimoine, avec une rentabilité prévisionnelle entre 5 et 7 % et la récupération possible de la TVA*.</p>


      </div>

    </div>



    <hr style="opacity:20%;">


    <div class="container row py-4 p-font4 mx-auto ">
      <div class="copyright col-5">
        Tous droits réservés – <strong>SCCV VIBES RESORT</strong> – 790 452 452 RCS Béziers
      </div>
      <div class="credits col-7">
        Illustrations à caractère d’ambiance © A+ Architecture, Golem Images, We Love Design, Atypik Studio – Photos © Shutterstock
      </div>
      <div class="credits-2 ml-3 mt-2">
        Rentabilité donnée à titre indicatif et sous conditions. La location sous le régime de la parahôtellerie nécessite la mise en œuvre d’au moins trois des prestations suivantes : fourniture du petit-déjeuner, nettoyage régulier des locaux, fourniture du linge de maison, réception de la clientèle. Elle permet la récupération intégrale de la TVA (20%) payée lors de l’acquisition du bien, sous condition d’engagement de location. Comme tout investissement, investir dans l’immobilier peut présenter des risques – Tarifs indiqués TTC, incluant une TVA récupérable de 20%, dans la limite des stocks disponibles.
      </div>
      <div class="credits-2 ml-3 mt-2">
      <% if user_signed_in?%>
        <span class="p-font4"><%= link_to "Back-Office", rails_admin_path, class:"pr-4 a-nav" %></span>
        <span class="p-font4"><%= link_to "Se déconnecter", destroy_user_session_path, class:"pr-4 a-nav" , method: :delete%></span>
      <%else%>
        <p class="p-font4"><%= link_to "Se connecter", user_session_path , class:"pr-4 a-nav" %></p>
      <%end%>
      </div>
    </div>
  </footer><!-- End Footer -->

</body>
</html>
